### .gitignore-boilerplates/Global/Windows.gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Office Temporary file
~$*.xlsx
~$*.pptx
~$*.docx

### .gitignore-boilerplates/Global/Linux.gitignore

.*
!.gitignore
!.gitkeep
*~


### .gitignore-boilerplates/Global/Eclipse.gitignore

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


### .gitignore-boilerplates/Global/vim.gitignore

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### .gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
.elc
.\#*


### .gitignore-boilerplates/Maven.gitignore

target/


### .gitignore-boilerplates/Java.gitignore

*.class

logs/
